<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sales Taxes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>




<div class="container-fluid">
  <h1>Sales Taxes Problem</h1>

  <div class="row">

    <div class="col-sm-4">
      <input type="string" id="input" (keyup.enter)="onEnteringInput(inputString)" [(ngModel)]="inputString">
      <button type="submit" (click)="onEnteringInput(inputString)">Button</button>
      <div>
        <table>
        <tr *ngFor = "let row of shoppingList">
          {{row.quantity}} {{row.product}} {{row.cost}}
        </tr>
      </table>
      </div>

    </div>
<button (click)="checkoutButton(shoppingList)"></button>
    <div class="col-sm-4">
     <table>
       <tr *ngFor = "let row of receipt">
         {{row}}
       </tr>
     </table>
    </div>

  </div>

</div>



</body>
</html>
