<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sales Taxes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">

  <div style="text-align: center">
    <h1 class="headerStyle">Sales Taxes Problem</h1>
  </div>

  <div class="row">
    <mat-card style="background: lightgrey">
      <div>
        <button mat-raised-button (click)="clearAllButton()">Clear All</button>
      </div>
    </mat-card>
  </div>

  <div class="row cartStyle">
    <div class="col-sm-6">
      <div class="row rowHeight">
        <div class="col-sm-8">
          <mat-form-field appearance="fill">
            <mat-label>Type Product Here</mat-label>
            <input matInput type="string" id="input" (keyup.enter)="onEnteringInput(inputString)"
                   [(ngModel)]="inputString">
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <button mat-raised-button (click)="onEnteringInput(inputString)">Add To Cart</button>
        </div>
      </div>

      <mat-card class="cartStyle">
        <mat-card-title>Shopping Cart</mat-card-title>
        <table>
          <tr *ngFor="let row of shoppingList">
            {{row.quantity}} {{row.product}} {{row.cost}}
          </tr>
        </table>
      </mat-card>
    </div>

    <div class="col-sm-6">
      <div class="row rowHeight">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4">
          <div>
            <button mat-raised-button (click)="checkoutButton(shoppingList)">Checkout</button>
          </div>
        </div>
      </div>

      <mat-card class="cartStyle">
        <mat-card-title>Receipt</mat-card-title>
        <table>
          <tr *ngFor="let row of receipt">
            {{row}}
          </tr>
        </table>
      </mat-card>
    </div>
  </div>
</div>

</body>
</html>
