<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sales Taxes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>




<div class="container-fluid">
  <h1>Sales Taxes Problem</h1>

  <div class="row">

    <div class="col-sm-4">

        <mat-label>Input</mat-label>
      <input type="string" id="input" (keyup.enter)="onEnteringInput(testerString)" [(ngModel)]="testerString">
      <button type="submit" (click)="onEnteringInput(testerString)">Button</button>
      <div>{{testerString}}</div>
    </div>
<button (click)="checkoutButton(shoppingList)"></button>
    <div class="col-sm-4">
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </div>

</div>




</body>
</html>
